<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{%%title%%}}</title>
    <meta http-equiv="Content-language" content="en" />
    <meta name="Author" content="Nicolas Noben" />
    <meta name="Description" content="{{%%description%%}}" />
    <meta name="Keywords" content="{{%%keywords%%}}" />
    <meta name="viewport" content="width=device-width,initial-scale=0.7">
    <link rel="stylesheet" href="/noben.css" type="text/css" media="all" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta property="og:locale" content="en_AU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nic Noben" />
    <meta property="og:site_name" content="noben.org" />
    <meta property="og:image" content="/favicon-96x96.png" />
    <meta property="og:image:width" content="96" />
    <meta property="og:image:height" content="96" />
    <meta property="og:description" content="{{%%description%%}}" />
    <meta name="theme-color" content="#DDD" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#373C3E" media="(prefers-color-scheme: dark)">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="NobenLog" href="/index.xml">
</head>

<body>
    <h1><a href="/">Nicolas Noben</a></h1>

    {{%%content%%}}

    <h5>Further</h5>

    <table>
        <tr>
            <td>Contact</td>
            <td><a href='&#109;a&#105;l&#116;o&#58;n&#37;69%63o%6&#67;as&#64;no&#98;%65n&#46;or&#37;6&#55;'>nic&#111;las&#64;nobe&#110;&#46;&#111;rg</a></td>
            <td>🇦🇺</td>
            <td>Anytime</td>
        </tr>
    </table>
</body>

</html>